<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.rhydlewis.alfred.shortcutsworkflow</string>
	<key>connections</key>
	<dict>
		<key>177DB255-4E35-47D7-A0FC-19C6F3951089</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C5C5FE4-8344-41C9-9CBF-9C55320AEED0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>214CC9ED-B2F4-4FEC-8A63-FD1BD9B90029</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB748BE5-D5BB-4BFF-A503-0DE77A802D72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B905310-C3A4-45C5-BB8E-FA74560200D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D31C406-3C89-4551-AD3A-CF7D298EB448</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2EEB92D3-873A-443E-9441-0CCD079AC104</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF24175D-011C-4CC2-A9D3-9FBD3ECB45C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F77F8CD-6BF2-4B4F-94F5-049B123AAFD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C5C5FE4-8344-41C9-9CBF-9C55320AEED0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FB0D83F-BE4D-4BA4-B1FD-4756C61013B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6B2D3BF-D58D-4367-A7CD-AE2DD4C0174F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>474E2EAB-BEC1-4D2D-A4DF-0D4A2345E0AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC75BCF7-4BAD-46EE-8BE6-DC5638D45539</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B411F05-8D71-4250-B341-49E413422F19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B905310-C3A4-45C5-BB8E-FA74560200D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>54C5F84C-6D11-42CF-B02D-0D0A484E9742</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Run {query} $tmpfile | pbcopy</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D31C406-3C89-4551-AD3A-CF7D298EB448</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79BECD35-280D-4835-8EE9-FD76A4D58F2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5F607D0-D901-4D6F-91A9-19A27567F481</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54C5F84C-6D11-42CF-B02D-0D0A484E9742</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79BECD35-280D-4835-8EE9-FD76A4D58F2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5F607D0-D901-4D6F-91A9-19A27567F481</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>557FBC35-3F5A-4901-92DA-D37A9F8495A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F77F8CD-6BF2-4B4F-94F5-049B123AAFD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>766A08B2-4EC3-437C-B40D-883C6A53B09E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF6D03CB-90EE-41ED-8A1E-B490409AAC98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86E8DB71-E2C2-4E1B-AE8F-59B3E6376107</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2277F55D-9DC8-44F1-838B-DC62B5D65181</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>989B3E42-1298-4CA7-BB7C-634CE0A0F2AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2E723B5-2226-4C03-91A2-A3FFC1B15E9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FD4348D-5C56-4069-B752-1F54F2D023F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>003B3D06-2269-4422-8E54-3D6A0B2FC6E0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1860D0C7-3B6C-426B-BEC6-AB267143F596</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5E05CEF-99DA-4F9C-880E-F8AAFCA03E47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C01FB36A-DC36-467B-9089-5E20F530BAC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9549E5E-E3BB-4A1F-9BDF-5B65DBA146FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>177DB255-4E35-47D7-A0FC-19C6F3951089</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB748BE5-D5BB-4BFF-A503-0DE77A802D72</key>
		<array/>
		<key>E96E0421-E798-4774-9E01-01EDD1977955</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6515CD2E-ADF6-40EA-905C-EB3503C0FEAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4AEF7B73-F17F-4DC5-A41E-43BDD1E1CF1B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Sort and remove duplicates</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F27074DF-76C0-44AC-9A7C-D5C9CBD8902D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8913D96-9D15-464D-822D-3D5F7B312AA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5EA9B5F-EA9D-4895-9649-59A34D0936D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FB0D83F-BE4D-4BA4-B1FD-4756C61013B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF6D03CB-90EE-41ED-8A1E-B490409AAC98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C5C5FE4-8344-41C9-9CBF-9C55320AEED0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rhyd Lewis</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ssc</string>
				<key>subtext</key>
				<string>Launch Self Control and Close Non-Blockable Apps</string>
				<key>text</key>
				<string>Start Self Control</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>989B3E42-1298-4CA7-BB7C-634CE0A0F2AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>c2rl</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add current Chrome page to Safari's reading list</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>474E2EAB-BEC1-4D2D-A4DF-0D4A2345E0AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Google Chrome"
    set pageUrl to get URL of active tab of first window
  end tell
  tell application "Safari" to add reading list item pageUrl
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>EC75BCF7-4BAD-46EE-8BE6-DC5638D45539</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
   tell application "Skype" to quit
   tell application "Slack" to quit
   tell application "SelfControl" to start
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>F2E723B5-2226-4C03-91A2-A3FFC1B15E9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bulletize</string>
				<key>subtext</key>
				<string>Prepend {query} as a bullet</string>
				<key>text</key>
				<string>Prepend a bullet character to the text in the pasteboard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>214CC9ED-B2F4-4FEC-8A63-FD1BD9B90029</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ $# -eq 0 ]; then
    bullet="* "
else
    bullet=$1
fi

pbpaste | nl -s "$bullet " | cut -c7- | pbcopy</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB748BE5-D5BB-4BFF-A503-0DE77A802D72</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import urllib
query = "{query}"
print(urllib.quote(query))</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FB0D83F-BE4D-4BA4-B1FD-4756C61013B5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>quote</string>
				<key>subtext</key>
				<string>Encode characters in: {query}</string>
				<key>text</key>
				<string>Quote</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F5EA9B5F-EA9D-4895-9649-59A34D0936D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D6B2D3BF-D58D-4367-A7CD-AE2DD4C0174F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste | sort {query} | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6515CD2E-ADF6-40EA-905C-EB3503C0FEAF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>scb</string>
				<key>subtext</key>
				<string>Runs a unix sort on the contents of the clipboard</string>
				<key>text</key>
				<string>Sort the Clipboard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E96E0421-E798-4774-9E01-01EDD1977955</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Fantastical 2" to parse sentence q
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>EF24175D-011C-4CC2-A9D3-9FBD3ECB45C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>f</string>
				<key>subtext</key>
				<string>Add "{query}" to Fantastical</string>
				<key>text</key>
				<string>Add entry to Fantastical</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2EEB92D3-873A-443E-9441-0CCD079AC104</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>data=$(pbpaste)
if [ $(echo "$data" | wc -l) -gt 1 ];
then
	change=${data//
/	}
else
    change=${data//	/
}
fi
echo -e "$change" | pbcopy
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8913D96-9D15-464D-822D-3D5F7B312AA8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>switch</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Replace new line with tab (or vice versa)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F27074DF-76C0-44AC-9A7C-D5C9CBD8902D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste | sort -u | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4AEF7B73-F17F-4DC5-A41E-43BDD1E1CF1B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>#!/bin/bash
cd ~/Screenshots
SSHOT_PATH=`ls -tr | tail -1`
open -a Napkin "$SSHOT_PATH"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>003B3D06-2269-4422-8E54-3D6A0B2FC6E0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>anno</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Opens most recent screenshot in an image editor</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9FD4348D-5C56-4069-B752-1F54F2D023F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5C5C5FE4-8344-41C9-9CBF-9C55320AEED0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>pbdata = `pbpaste`
pattern = "\n"
replacement = '\n'
result = pbdata.gsub(pattern, replacement)
print result</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF6D03CB-90EE-41ED-8A1E-B490409AAC98</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>newline</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Replace actual newlines with text "\n"</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>766A08B2-4EC3-437C-B40D-883C6A53B09E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gsub</string>
				<key>subtext</key>
				<string>Enter "pattern" "replacement"</string>
				<key>text</key>
				<string>Replace pattern in pasteboard text</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>86E8DB71-E2C2-4E1B-AE8F-59B3E6376107</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>8</integer>
				<key>script</key>
				<string>ruby gsub.rb {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2277F55D-9DC8-44F1-838B-DC62B5D65181</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>#!/bin/bash
cd ~/Screenshots
SSHOT_PATH=`ls -tr | tail -1`
open -a Annotate "$SSHOT_PATH"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1860D0C7-3B6C-426B-BEC6-AB267143F596</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>pbdata = `pbpaste`
pattern = '{query}'
replacement = ''
result = pbdata.delete(pattern)
print result</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>177DB255-4E35-47D7-A0FC-19C6F3951089</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>strip</string>
				<key>subtext</key>
				<string>Enter "pattern"</string>
				<key>text</key>
				<string>Strip pattern from pasteboard text</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C9549E5E-E3BB-4A1F-9BDF-5B65DBA146FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>cmd</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2B905310-C3A4-45C5-BB8E-FA74560200D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste | {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D31C406-3C89-4551-AD3A-CF7D298EB448</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cmd</string>
				<key>subtext</key>
				<string>Run pbpaste | {query} | pbcopy</string>
				<key>text</key>
				<string>Run command against pasteboard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4B411F05-8D71-4250-B341-49E413422F19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>79BECD35-280D-4835-8EE9-FD76A4D58F2A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tdc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Time Difference Calculator</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C5E05CEF-99DA-4F9C-880E-F8AAFCA03E47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.timeanddate.com/worldclock/converter.html?iso={query}&amp;p1=240&amp;p2=136&amp;p3=179</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C01FB36A-DC36-467B-9089-5E20F530BAC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>pbdata = `pbpaste`
result = pbdata.delete("\n")
print result</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F77F8CD-6BF2-4B4F-94F5-049B123AAFD5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>strip newline</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Strip newlines from pasteboard text</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>557FBC35-3F5A-4901-92DA-D37A9F8495A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>PATH=$PATH:/usr/local/bin/
tmpfile=$(mktemp /tmp/alfred-tmp.XXXXXX)
pbpaste &gt; "$tmpfile"
{query} "$tmpfile"
rm "$tmpfile"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>54C5F84C-6D11-42CF-B02D-0D0A484E9742</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Results from {var:cmd}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B5F607D0-D901-4D6F-91A9-19A27567F481</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>003B3D06-2269-4422-8E54-3D6A0B2FC6E0</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>177DB255-4E35-47D7-A0FC-19C6F3951089</key>
		<dict>
			<key>xpos</key>
			<integer>1200</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>1860D0C7-3B6C-426B-BEC6-AB267143F596</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>214CC9ED-B2F4-4FEC-8A63-FD1BD9B90029</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>2277F55D-9DC8-44F1-838B-DC62B5D65181</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>2B905310-C3A4-45C5-BB8E-FA74560200D1</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>2EEB92D3-873A-443E-9441-0CCD079AC104</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>3F77F8CD-6BF2-4B4F-94F5-049B123AAFD5</key>
		<dict>
			<key>xpos</key>
			<integer>1330</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>3FB0D83F-BE4D-4BA4-B1FD-4756C61013B5</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>474E2EAB-BEC1-4D2D-A4DF-0D4A2345E0AA</key>
		<dict>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>4AEF7B73-F17F-4DC5-A41E-43BDD1E1CF1B</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>4B411F05-8D71-4250-B341-49E413422F19</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>4D31C406-3C89-4551-AD3A-CF7D298EB448</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>54C5F84C-6D11-42CF-B02D-0D0A484E9742</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>980</integer>
		</dict>
		<key>557FBC35-3F5A-4901-92DA-D37A9F8495A3</key>
		<dict>
			<key>xpos</key>
			<integer>1170</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>5C5C5FE4-8344-41C9-9CBF-9C55320AEED0</key>
		<dict>
			<key>xpos</key>
			<integer>1400</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>6515CD2E-ADF6-40EA-905C-EB3503C0FEAF</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>766A08B2-4EC3-437C-B40D-883C6A53B09E</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>79BECD35-280D-4835-8EE9-FD76A4D58F2A</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>86E8DB71-E2C2-4E1B-AE8F-59B3E6376107</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>989B3E42-1298-4CA7-BB7C-634CE0A0F2AF</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>9FD4348D-5C56-4069-B752-1F54F2D023F6</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>A8913D96-9D15-464D-822D-3D5F7B312AA8</key>
		<dict>
			<key>xpos</key>
			<integer>1200</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>B5F607D0-D901-4D6F-91A9-19A27567F481</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>1030</integer>
		</dict>
		<key>C01FB36A-DC36-467B-9089-5E20F530BAC2</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>C5E05CEF-99DA-4F9C-880E-F8AAFCA03E47</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>C9549E5E-E3BB-4A1F-9BDF-5B65DBA146FD</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>D6B2D3BF-D58D-4367-A7CD-AE2DD4C0174F</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>DB748BE5-D5BB-4BFF-A503-0DE77A802D72</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>E96E0421-E798-4774-9E01-01EDD1977955</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>EC75BCF7-4BAD-46EE-8BE6-DC5638D45539</key>
		<dict>
			<key>xpos</key>
			<integer>1210</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>EF24175D-011C-4CC2-A9D3-9FBD3ECB45C0</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>F27074DF-76C0-44AC-9A7C-D5C9CBD8902D</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>F2E723B5-2226-4C03-91A2-A3FFC1B15E9C</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>F5EA9B5F-EA9D-4895-9649-59A34D0936D0</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>FF6D03CB-90EE-41ED-8A1E-B490409AAC98</key>
		<dict>
			<key>xpos</key>
			<integer>1200</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>rhydlewis.net</string>
</dict>
</plist>
