<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.rhydlewis.alfred.shortcutsworkflow</string>
	<key>connections</key>
	<dict>
		<key>214CC9ED-B2F4-4FEC-8A63-FD1BD9B90029</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB748BE5-D5BB-4BFF-A503-0DE77A802D72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2EEB92D3-873A-443E-9441-0CCD079AC104</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF24175D-011C-4CC2-A9D3-9FBD3ECB45C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FB0D83F-BE4D-4BA4-B1FD-4756C61013B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6B2D3BF-D58D-4367-A7CD-AE2DD4C0174F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B411F05-8D71-4250-B341-49E413422F19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D31C406-3C89-4551-AD3A-CF7D298EB448</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86E8DB71-E2C2-4E1B-AE8F-59B3E6376107</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2277F55D-9DC8-44F1-838B-DC62B5D65181</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>989B3E42-1298-4CA7-BB7C-634CE0A0F2AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2E723B5-2226-4C03-91A2-A3FFC1B15E9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FD4348D-5C56-4069-B752-1F54F2D023F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>003B3D06-2269-4422-8E54-3D6A0B2FC6E0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1860D0C7-3B6C-426B-BEC6-AB267143F596</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB748BE5-D5BB-4BFF-A503-0DE77A802D72</key>
		<array/>
		<key>E96E0421-E798-4774-9E01-01EDD1977955</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6515CD2E-ADF6-40EA-905C-EB3503C0FEAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4AEF7B73-F17F-4DC5-A41E-43BDD1E1CF1B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Sort and remove duplicates</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F27074DF-76C0-44AC-9A7C-D5C9CBD8902D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8913D96-9D15-464D-822D-3D5F7B312AA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5EA9B5F-EA9D-4895-9649-59A34D0936D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FB0D83F-BE4D-4BA4-B1FD-4756C61013B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rhyd Lewis</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ssc</string>
				<key>subtext</key>
				<string>Launch Self Control and Close Non-Blockable Apps</string>
				<key>text</key>
				<string>Start Self Control</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>989B3E42-1298-4CA7-BB7C-634CE0A0F2AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
   tell application "Skype" to quit
   tell application "Slack" to quit
   tell application "SelfControl" to start
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>F2E723B5-2226-4C03-91A2-A3FFC1B15E9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bulletize</string>
				<key>subtext</key>
				<string>Prepend {query} as a bullet</string>
				<key>text</key>
				<string>Prepend a bullet character to the text in the pasteboard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>214CC9ED-B2F4-4FEC-8A63-FD1BD9B90029</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ $# -eq 0 ]; then
    bullet="* "
else
    bullet=$1
fi

pbpaste | nl -s "$bullet " | cut -c7- | pbcopy</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB748BE5-D5BB-4BFF-A503-0DE77A802D72</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cmd</string>
				<key>subtext</key>
				<string>Run an arbitary command against the contents of the pasteboard and then copy the results to the pasteboard</string>
				<key>text</key>
				<string>Run command against pasteboard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4B411F05-8D71-4250-B341-49E413422F19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste | {query} | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D31C406-3C89-4551-AD3A-CF7D298EB448</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D6B2D3BF-D58D-4367-A7CD-AE2DD4C0174F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import urllib
query = "{query}"
print(urllib.quote(query))</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FB0D83F-BE4D-4BA4-B1FD-4756C61013B5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>quote</string>
				<key>subtext</key>
				<string>Encode characters in: {query}</string>
				<key>text</key>
				<string>Quote</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F5EA9B5F-EA9D-4895-9649-59A34D0936D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste | sort {query} | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6515CD2E-ADF6-40EA-905C-EB3503C0FEAF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>f</string>
				<key>subtext</key>
				<string>Add "{query}" to Fantastical</string>
				<key>text</key>
				<string>Add entry to Fantastical</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2EEB92D3-873A-443E-9441-0CCD079AC104</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Fantastical 2" to parse sentence q
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>EF24175D-011C-4CC2-A9D3-9FBD3ECB45C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>scb</string>
				<key>subtext</key>
				<string>Runs a unix sort on the contents of the clipboard</string>
				<key>text</key>
				<string>Sort the Clipboard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E96E0421-E798-4774-9E01-01EDD1977955</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>switch</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Replace new line with tab (or vice versa)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F27074DF-76C0-44AC-9A7C-D5C9CBD8902D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste | sort -u | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4AEF7B73-F17F-4DC5-A41E-43BDD1E1CF1B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>anno</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Opens most recent screenshot in an image editor</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9FD4348D-5C56-4069-B752-1F54F2D023F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>#!/bin/bash
cd ~/Dropbox/Screenshots
SSHOT_PATH=`ls -tr | tail -1`
open -a Napkin "$SSHOT_PATH"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>003B3D06-2269-4422-8E54-3D6A0B2FC6E0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>data=$(pbpaste)
if [ $(echo "$data" | wc -l) -gt 1 ];
then
	change=${data//
/	}
else
    change=${data//	/
}
fi
echo -e "$change" | pbcopy
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8913D96-9D15-464D-822D-3D5F7B312AA8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gsub</string>
				<key>subtext</key>
				<string>Enter "pattern" "replacement"</string>
				<key>text</key>
				<string>Replace pattern in pasteboard text</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>86E8DB71-E2C2-4E1B-AE8F-59B3E6376107</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>8</integer>
				<key>script</key>
				<string>ruby gsub.rb {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2277F55D-9DC8-44F1-838B-DC62B5D65181</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>#!/bin/bash
cd ~/Dropbox/Screenshots
SSHOT_PATH=`ls -tr | tail -1`
open -a Annotate "$SSHOT_PATH"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1860D0C7-3B6C-426B-BEC6-AB267143F596</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>003B3D06-2269-4422-8E54-3D6A0B2FC6E0</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>1860D0C7-3B6C-426B-BEC6-AB267143F596</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>214CC9ED-B2F4-4FEC-8A63-FD1BD9B90029</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>2277F55D-9DC8-44F1-838B-DC62B5D65181</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>2EEB92D3-873A-443E-9441-0CCD079AC104</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>3FB0D83F-BE4D-4BA4-B1FD-4756C61013B5</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>4AEF7B73-F17F-4DC5-A41E-43BDD1E1CF1B</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>4B411F05-8D71-4250-B341-49E413422F19</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>4D31C406-3C89-4551-AD3A-CF7D298EB448</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>6515CD2E-ADF6-40EA-905C-EB3503C0FEAF</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>86E8DB71-E2C2-4E1B-AE8F-59B3E6376107</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>989B3E42-1298-4CA7-BB7C-634CE0A0F2AF</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>9FD4348D-5C56-4069-B752-1F54F2D023F6</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>A8913D96-9D15-464D-822D-3D5F7B312AA8</key>
		<dict>
			<key>xpos</key>
			<integer>1200</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>D6B2D3BF-D58D-4367-A7CD-AE2DD4C0174F</key>
		<dict>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>DB748BE5-D5BB-4BFF-A503-0DE77A802D72</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>E96E0421-E798-4774-9E01-01EDD1977955</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>EF24175D-011C-4CC2-A9D3-9FBD3ECB45C0</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>F27074DF-76C0-44AC-9A7C-D5C9CBD8902D</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>F2E723B5-2226-4C03-91A2-A3FFC1B15E9C</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>F5EA9B5F-EA9D-4895-9649-59A34D0936D0</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>rhydlewis.net</string>
</dict>
</plist>
